body{
    font-family: "Montserrat";
    text-align: center;
}
  
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-bold";
}
  

.navbar-color
{
    background-color: #3E50B4 !important;
    height: 70px;
    font-size: 15px;
    
}

.nav-link ,.navbar-brand {
    color: white !important;
    margin: 10px 10px;
}

.jumbotron {
    height: 500px;
    
    background: #3E50B4 !important;
    color: white;
    margin-top: 65px;
    padding: 20px;
    
}
.navbar-toggler
{
    background-color: white;
}

.header-head
{
    
    margin-bottom: 40px;
}

.jumbotron p
{
    margin-bottom: 40px;
    line-height: 2.0;
}

.btn
{
    margin-left: 40px;
    margin-top: 10px;
}
.about
{
    height: 300px;
    
    text-align: center;
    padding: 20px;
}

.about h1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.about p{
    font-weight: 500;
}
#pricing{
    padding: 100px 0 0 0;
  }
  
  .price-text{
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-col{
    padding: 10px 0 0 0;
    text-align: center;
  }
  
  .left{
    text-align:left;
    padding-left:300px;
  }
  
  .right{
    text-align:right;
    padding-right:300px;
  }
  
  @media screen and (max-width: 1000px){
    .left{
      text-align:center;
      padding:0;
    }
  
  }
  
  @media screen and (max-width: 1000px){
    .right{
      text-align:center;
      padding:0;
    }
  }
  
  @media screen and (max-width: 1000px){
    .main{
      text-align:center;
  
    }
  }
  
  .cta-heading{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
  }