body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-bold";
}


.navbar-color
{
  background-color: #3E50B4 !important;
  height: 70px;
  font-size: 15px;

}

.nav-link ,.navbar-brand {
  color: white !important;
  margin: 10px 10px;
}

.jumbotron {
  height: 500px;

  background: #3E50B4 !important;
  color: white;
  margin-top: 65px;
  padding: 20px;

}
.navbar-toggler
{
  background-color: white;
}

.header-head
{

  margin-bottom: 40px;
}

.jumbotron p
{
  margin-bottom: 40px;
  line-height: 2.0;
}

.btn
{
  margin-left: 40px;
  margin-top: 10px;
}
.about
{
  height: 300px;

  text-align: center;
  padding: 20px;
}

.about h1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.about p{
  font-weight: 500;
}
#pricing{
  padding: 100px 0 0 0;
  
}

#pricing img{
  width:60px;
  height:60px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 10px 0 0 0;
  text-align: center;
}

.left{
  text-align:left;
  padding-left:300px;
}

.right{
  text-align:right;
  padding-right:300px;
}

.section-heading{
  text-align: center;
  margin: 50px 50px;
  
}
#gallery{
  background-color:  #3E50B4 !important;
}

.gallery img{
  height: 400px;
  width : 400px;
}

 
.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color:   #3E50B4 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  color: #3E50B4;
  
  
}
footer{
  
  background-color: #3E50B4;
  color: white;
}

footer p{
  text-align: center;
}


.content{
  border: 1px solid #ccc;
  padding: 30px 30px;
  text-align: justify;
  line-height: 40px;
  box-shadow: 2px 2px #ddd;
  margin: 40px 40px;
}

.social-media-icons{
  margin-left: auto;
  margin-right: auto;
}
.fa{
  margin: 20px 20px;
  border-radius: 50%;
  padding: 10px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



.heading{
  text-align: center;
}

.content li{
  list-style: none;
}

@media screen and (max-width: 1000px){
  .left{
    text-align:center;
    padding:0;
  }

}

@media screen and (max-width: 1000px){
  .right{
    text-align:center;
    padding:0;
  }
}

@media screen and (max-width: 1000px){
  .main{
    text-align:center;

  }
}

.cta-heading{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}